#*

file: Control.vm

Warning: the paths used here might not work on windows.


*#


#parse( "MainControl.vm" )

#foreach ($primitiveType in $primitiveTypes)

    #set ($outputFile = $strings.concat([$outputDirectory, "/org/ajmm/obsearch/ob/OB", $primitiveType, ".java"]))
		#* Create the resulting directory #*
  	$files.mkdir($outputFile)

    $generator.parse("OB.vm", $outputFile, "Type", $primitiveType)

#end

